<head>
  <title>FAQ | Daru Lab</title>
  {% include "temp/Main-css.html" %}
</head>
<body class="pop">
  <!-- bagian nav -->
  <!-- bagian nav -->
  <nav class="z-2 sticky-top navbar navbar-expand-lg navbar-dark">{%include "temp/Temp-nav.html" %}</nav>
  <!-- akhir nav -->

  <div class="container">
    <div class="row mt-5">
      <div class="col-md-6 mb-4">
        <h1 class="mt-5 col-md-4 faq">Daru Lab Frequently Asked Questions</h1>
        <b>
          <p>Temukan jawaban atas pertanyaan Anda disini</p>
        </b>
      </div>
      <div class="col-md-6 mb-6 px-5">
        <div class="row mt-5">
          <img
            class="img-fluid rounded-5"
            width=" 600px"
            src="../static/img/orang.jpg "
            alt=""
          />
        </div>
      </div>
    </div>
  </div>

  <div class="container mb-5">
    <div class="row mt-3">
      <!-- <div class="col-md-6 mb-4"> -->
      <h1 class="mt-5 col-md-8 product">Our Products FAQs</h1>
      <hr />

      <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              style="z-index: 0;"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseOne"
              aria-expanded="false"
              aria-controls="flush-collapseOne"
            >
              Apakah produk ini aman bagi kulit?
            </button>
          </h2>
          <div
            id="flush-collapseOne"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              <p>
                A : produk ini sangat aman bagi kulit, karena produk merupakan
                produk natural dan hypoalergic yang dapat meminimalisir
                sensitivitas pada kulit.
              </p>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              style="z-index: 0;"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseTwo"
              aria-expanded="false"
              aria-controls="flush-collapseTwo"
            >
              Bagaimana cara menggunakan Pil Pembersih Mesin Cuci?
            </button>
          </h2>
          <div
            id="flush-collapseTwo"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              <p>
                A : untuk penggunaan pil pembersih mesin cuci, cukup dengan cara
                sebagai berikut.
              </p>
              <p>1. Pastikan mesin cuci dalam keadaan kosong</p>
              <p>
                2. Khusus mesin cuci top loading, isi tabung mesin cuci dengan
                air dahulu
              </p>
              <p>3. Ambil 1 atau 2 buah pil (Kapasitas tabung >7 kg = 2 pil)</p>
              <p>
                4. Letakkan pil ke dalam tabung mesin cuci (Jangan masukkan ke
                dispenser)
              </p>
              <p>5. Jalankan mode pencucian dengan waktu tercepat</p>
              <p>
                6. Tunggu siklus mesin cuci berhenti dan mesin cuci dapat
                digunakan seperti biasa (Bersihkan mesin cuci setiap 2 bulan).
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              style="z-index: 0;"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseThree"
              aria-expanded="false"
              aria-controls="flush-collapseThree"
            >
              Bagaimana saya tahu produk apa yang tepat untuk saya?
            </button>
          </h2>
          <div
            id="flush-collapseThree"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              <p>
                A : untuk mengetahui produk yang tepat,sebelumnya anda perlu
                mengetahui kegunaan dari setiap produk.
              </p>
              <p>
                -jika anda ingin membersihkan toilet duduk, maka anda bisa
                memilih produk pil pembersih toilet duduk.
              </p>
              <p>
                -jika anda ingin membersihkan kaca, maka anda bisa memilih
                produk pil pembersih kaca.
              </p>
              <p>
                -jika anda ingin membersihkan mesin cuci, maka anda bisa memilih
                produk pil pembersih mesin cuci.
              </p>
              <p>
                -jika anda ingin membersihkan wiper mobil, maka anda bisa
                memilih produk pil pembersih wiper mobil.
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              style="z-index: 0;"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseFour"
              aria-expanded="false"
              aria-controls="flush-collapseFour"
            >
              Berapa lamakah jangka umur simpan produk?
            </button>
          </h2>
          <div
            id="flush-collapseFour"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              <p>A : untuk jangka umur produk selama 5 tahun</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              style="z-index: 0;"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseFive"
              aria-expanded="false"
              aria-controls="flush-collapseFive"
            >
              Bagaimana produk ini bisa didapatkan?
            </button>
          </h2>
          <div
            id="flush-collapseFive"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              <p>
                A : produk ini bisa didapatkan dengan cara pembelian menggunakan
                e-commerce seperti shopee, tokopedia dan media sosial seperti
                instagram dan whatsapp Daru Lab.
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              style="z-index: 0;"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseSix"
              aria-expanded="false"
              aria-controls="flush-collapseSix"
            >
              Apakah produk ini dapat menghilangkan bau yang tidak sedap?
            </button>
          </h2>
          <div
            id="flush-collapseSix"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              <p>
                A : Benar,meski produk ini tidak memiliki bau tetapi ampuh
                menghilangkan bau tidak sedap.
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              style="z-index: 0;"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseSeven"
              aria-expanded="false"
              aria-controls="flush-collapseSeven"
            >
              Berapa banyak air yang dibutuhkan untuk melarutkan 1 buah pil?
            </button>
          </h2>
          <div
            id="flush-collapseSeven"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              <p>
                A : Untuk melarutkan 1 buah pil kita hanya membutuhkan 1 liter
                air.
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              style="z-index: 0;"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseEight"
              aria-expanded="false"
              aria-controls="flush-collapseEight"
            >
              Apakah produk ini mengandung zat alkohol?
            </button>
          </h2>
          <div
            id="flush-collapseEight"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              <p>
                A : Tidak,produk ini tidak sama sekali menggunakan zat alkohol.
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              style="z-index: 0;"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseNine"
              aria-expanded="false"
              aria-controls="flush-collapseNine"
            >
              Apa manfaat dari pil pembersih mesin cuci?
            </button>
          </h2>
          <div
            id="flush-collapseNine"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              <p>
                A : Pil pembersih mesin cuci bermanfaat ungtuk menghilangkan
                kerak dan residu detergen.
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              style="z-index: 0;"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseTen"
              aria-expanded="false"
              aria-controls="flush-collapseTen"
            >
              Butuh berapa waktu untuk melarutkan pil agar dapat digunakan?
            </button>
          </h2>
          <div
            id="flush-collapseTen"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              <p>
                A : Untuk melarutkan pil menbutuhkan waktu 3-5 menit dan dapat
                digunakan.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- cart -->
  {%include "temp/cart.html"%}
  <!-- footer -->
  <footer class="z-2">{% include "temp/Temp-footer.html"%}</footer>
  {%include "temp/Main-js.html"%}
</body>
