<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css"
    />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='img/logo.png') }}"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/bootstrap/bootstrap.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/bootstrap/bootstrap.css') }}"
    />
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="	https://cdnjs.cloudflare.com/ajax/libs/js-cookie/1.5.1/js.cookie.min.js"></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/daru/login.css') }}"
    />
    <script src="{{ url_for('static', filename='js/daru/daru.js') }}"></script>
  </head>
  <body>
    {% if error_message %}
    <script>
      // Menampilkan pesan kesalahan dengan alert JavaScript
      alert("{{ error_message }}");
    </script>
    {% endif %}
    <div id="stars"></div>
    <div id="stars2"></div>
    <div id="stars3"></div>
    <div class="section">
      <div class="container">
        <div class="row h-100 justify-content-center">
          <div class="col-12 text-center align-self-center py-5">
            <div class="section pb-5 pt-5 pt-sm-2 text-center">
              <h6 class="mb-0 pb-3">
                <span>Log In </span><span>Sign Up</span>
              </h6>
              <input
                autocomplete="off"
                class="checkbox"
                type="checkbox"
                id="reg-log"
                name="reg-log"
              />
              <label for="reg-log"></label>
              <div class="card-3d-wrap mx-auto">
                <div class="card-3d-wrapper">
                  <div class="card-front">
                    <div class="center-wrap">
                      <div class="section text-center">
                        <h4 class="mb-4 pb-3">Log In</h4>
                        <div class="form-group">
                          <input
                            type="text"
                            class="form-style"
                            placeholder="Username"
                            required
                            id="log-username"
                            autocomplete="off"
                          />
                          <i class="input-icon uil uil-user"></i>
                        </div>
                        <div class="form-group mt-2">
                          <input
                            type="password"
                            class="form-style"
                            placeholder="Password"
                            required
                            id="log-pw"
                          />
                          <i class="input-icon uil uil-lock-alt"></i>
                        </div>
                        <button onclick="sign_in()" class="btn mt-4">
                          Login
                        </button>
                      </div>
                    </div>
                  </div>

                  <div class="card-back">
                    <div class="center-wrap">
                      <div class="section text-center">
                        <h4 class="mb-3 pb-3">Sign Up</h4>
                        <div class="form-group">
                          <input
                            autocomplete="off"
                            type="text"
                            class="form-style"
                            placeholder="Username"
                            id="username-input"
                            required
                          />
                          <i class="input-icon uil uil-user"></i>
                        </div>
                        <div class="form-group mt-2">
                          <input
                            type="text"
                            class="form-style"
                            placeholder="Nama Lengkap"
                            id="nama-input"
                            required
                          />
                          <i
                            style="left: 25px"
                            class="input-icon fa-solid fa-child"
                          ></i>
                        </div>
                        <div class="form-group mt-2">
                          <input
                            type="password"
                            class="form-style"
                            placeholder="Password"
                            id="pass-input"
                            required
                          />
                          <i class="input-icon uil uil-lock-alt"></i>
                        </div>
                        <button onclick="sign_up()" class="btn mt-4">
                          Register
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
