<head>
  <title>Tentang kami | Daru Lab</title>
  {% include "temp/Main-css.html" %}
</head>
<!-- akhir css  -->

<body class="pop">
  <!-- bagian nav -->
  <nav class="z-2 sticky-top navbar navbar-expand-lg navbar-dark">{%include "temp/Temp-nav.html" %}</nav>
  <!-- akhir nav -->

  <!-- bagian penjelasan -->

  <div class="container">
    <div class="row">
      <div class="col mt-5 text-center">
        <h1>Tentang Kami</h1>
        <h5>Using materials from nature</h5>
        <p>
          Daru Laboratory, atau disingkat dengan Daru Lab merupakan suatu
          Perusahaan yang terdapat di daerah jawa timur Yang telah berdiri sejak
          1 Juni 2020, perusahaan kami bergerak di bidang customer good dengan
          menyediakan sabun kebersihan. Produk kami dibantu oleh teknologi
          Bio-enzym yang berasal dari sisa buah dan sayur sehingga produk yang
          dihasilkan menjadi sangat simple dan mudah untuk digunakan.
        </p>
        <p>Visi dan misi kami adalah</p>
      </div>
    </div>

    <div class="row">
      <div class="col mt-1 mb-5 d-flex justify-content-center">
        <img class="me-3" src="../static/img/about us page/Buah.png" alt="" />
        <img src="../static/img/about us page/Hutaan.png" alt="" />
      </div>
    </div>
    <div class="row">
      <div class="col mt-1 mb-5 text-center">
        <h1>Komitmen Kami</h1>
      </div>
    </div>
  </div>
  <!--akhir penjelasan-->

  <!-- bagian carousel-->
  <div class="container">
    <div class="col-md-offset-2 justify-content-center">
      <div
        id="carouselExampleDark"
        class="carousel carousel-dark slide"
        data-bs-ride="carousel"
      >
        <center>
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="3000">
              <div
                class="card mb-5 border border-0"
                style="max-width: 540px; height: 150px"
              >
                <div class="row g-0">
                  <div class="col-md-4">
                    <img
                      src="../static/img/about us page/us-2.png"
                      class="img-fluid rounded-start"
                      alt="..."
                    />
                  </div>
                  <div class="col-md-8">
                    <div class="card-body text-start">
                      <h5 class="card-title">Inovasi</h5>
                      <p class="card-text">
                        Kami terus melakukan perbaikan. Kami memodifikasi
                        formulasi, bahan, dan tekstur untuk memastikan bahwa
                        kami mengeluarkan produk terbaik.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="3000">
              <div
                class="card mb-5 border border-0"
                style="max-width: 540px; height: 150px"
              >
                <div class="row g-0">
                  <div class="col-md-4">
                    <img
                      src="../static/img/about us page/us-3.png"
                      class="img-fluid rounded-start"
                      alt="..."
                    />
                  </div>
                  <div class="col-md-8">
                    <div class="card-body text-start">
                      <h5 class="card-title">
                        Bahan-bahan yang ramah lingkungan
                      </h5>
                      <p class="card-text">
                        Menghasilkan berbagai produk dan untuk kepentingan
                        manusia dengan memanfaatkan sumber daya alam yang dapat
                        diperbarui dan tidak menghasilkan limbah yang
                        membahayakan lingkungan
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="3000">
              <div
                class="card mb-5 border border-0"
                style="max-width: 540px; height: 150px"
              >
                <div class="row g-0">
                  <div class="col-md-4">
                    <img
                      src="../static/img/about us page/us-1.png"
                      class="img-fluid rounded-start"
                      alt="..."
                    />
                  </div>
                  <div class="col-md-8">
                    <div class="card-body text-start">
                      <h5 class="card-title">Memberi Kembali</h5>
                      <p class="card-text">
                        5% Profit akan digunakan untuk Program Berdaya untuk
                        Digdaya
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </center>

        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleDark"
          data-bs-slide="prev"
        >
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleDark"
          data-bs-slide="next"
        >
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
  <!--akhir carousel-->

  <!--bagian e-commerce-->
  <div class="container">
    <div class="row">
      <div class="col text-center mt-5 mb-3">
        <h2>Kunjungi E-commerce Kami</h2>
      </div>
    </div>
    <div class="row">
      <div class="col d-flex justify-content-center mt-5 mb-5">
        <a href="https://shopee.co.id/daru.lab"
          ><img
            class="me-5"
            src="../static/img/about us page/Shopee.png"
            alt=""
        /></a>
        <a href=""
          ><img
            class="ms-5"
            src="../static/img/about us page/Tokopedia.png"
            alt=""
          />
        </a>
      </div>
    </div>
  </div>
  <!-- akhir e-commerce -->
  <!-- cart -->
  {%include "temp/cart.html"%}
  <!-- footer -->
  <footer class="z-2">{% include "temp/Temp-footer.html"%}</footer>
  {%include "temp/Main-js.html"%}
</body>
