<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- Favicon -->
<link
  rel="shortcut icon"
  href="{{ url_for('static', filename='img/logo.png') }}"
  type="image/x-icon"
/>
<!-- Custom styles -->
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/daru/admin.min.css') }}"
/>
<!-- <link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/bootstrap/bootstrap.min.css') }}"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='js/bootstrap/bootstrap.min.js') }}"
/> -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
  integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
<script
  src="https://code.jquery.com/jquery-3.7.1.js"
  integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
  crossorigin="anonymous"
></script>
<script src="	https://cdnjs.cloudflare.com/ajax/libs/js-cookie/1.5.1/js.cookie.min.js"></script>
<script src="{{url_for('static', filename='js/daru/daru.js')}}"></script>
