<!-- Modal komen -->
<div
  class="modal fade"
  id="commentmodal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">
          Tulis Ulasan anda
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="rating mb-3">
          <h6
            class="text-dark fw-medium ms-1"
            style="margin-bottom: -10px; font-size: 14px"
          >
            Rating
          </h6>
          <input type="radio" hidden name="rate" id="rating_5" value="5" />
          <label for="rating_5"></label>

          <input type="radio" hidden name="rate" id="rating_4" value="4" />
          <label for="rating_4"></label>

          <input type="radio" hidden name="rate" id="rating_3" value="3" />
          <label for="rating_3"></label>

          <input type="radio" hidden name="rate" id="rating_2" value="2" />
          <label for="rating_2"></label>

          <input type="radio" hidden name="rate" id="rating_1" value="1" />
          <label for="rating_1"></label>
        </div>
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="nama-pengulas"
            placeholder="name@example.com"
          />
          <label for="floatingInput">Nama Pengulas</label>
        </div>
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="singkat"
            placeholder="name@example.com"
          />
          <label for="floatingInput">Secara singkat tentang produk ini</label>
        </div>

        <div class="form-floating mb-3">
          <textarea
            class="form-control"
            placeholder="Leave a comment here"
            id="ulasan"
            style="height: 150px"
          ></textarea>
          <label for="floatingTextarea2">Ulasan anda</label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Batal
        </button>
        <button onclick="addComment()" class="btn btn-dark">Kirim</button>
      </div>
    </div>
  </div>
</div>
<!-- javascript -->

<!-- AOS  -->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>
<!-- script bootstrap js -->
<script src="{{ url_for('static', filename='js/daru/pagemain.js') }}"></script>
<script src="{{ url_for('static', filename='js/daru/cart.js') }}"></script>
<!-- akhir javascript -->
